<h1>My Calendar</h1> 

<h2>When am I free?</h3>

<h2>Who can I invite?</h3>

<% if current_user %> 
  <%= current_user.name %>
  <%= link_to "sign out", "#" %>  
<% else %> 
  <%=link_to "sign in with google", user_omniauth_authorize_path(:google) %>
<% end %> 
<br /> 
<br />
